body {
	background-color: #1c77c3;
	margin-top: 10px;
}

.container {
  background-color: #39a9db;
  /*border: 2px solid #101935;*/
  border-radius: 25px;
  margin: 10px;
  align-self: center;
}
#response {
  background-color: #9db3b5;
  /*border: 2px solid #101935;*/
  border-radius: 15px;
  margin: 10px;
}

div[id^="clip"] {
  height: 83px;
  width: 160px;
  float: left;
/*  border: 3px solid #101935;*/
/*  border-radius: 10px;*/
  margin: 10px;
  align: center;
  cursor: move;
  background-color: #F2FDFF;
}

video {
  float: left;
  margin-top: 30px;
  text-align: center;
  /*border: 3px solid #101935;*/
  border-radius: 5px;
  
}

div[id^="answer"] {
  height: 87px;
  width: 164px;
  float: left;
  border: 2px solid #101935;
  /*border-radius: 5px;*/
  margin: 8px;
  align: center;
  background-color: #f39237;
}

#responses.dim {
  -webkit-filter:brightness(50%);
  -moz-filter:brightness(50%);
  filter: url(#brightness);
  filter:brightness(50%);
}

img {
	height: 83px;
	width: 160px;
}

button {
	margin: 20px;
	margin-top: 40px;

}

#lessonScore, #current {
  float: right;
  margin-right: 30px;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  
}

/*.btn-primary {
  background-color: #d63230;
  
}*/
